@model StarCinema.Models.Show

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.show_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_path)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.show_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
